{
  "parser": "@typescript-eslint/parser",
  "extends": ["plugin:@typescript-eslint/recommended", "airbnb-base/legacy"],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "eqeqeq": [
      "error",
      "always",
      {
          "null": "ignore"
      }
    ],
    "typescript/class-name-casing": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/indent": ["error", 2]
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  }
}
